{% extends "auth_app/base.html" %}
{% load static %}

{% block linkcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'auth_app/sign_up.css' %}">
{% endblock linkcss %}

{% block body %}
{% if messages or form %}

    <div class="mess_list">

        <div class="msg">

            {% for message in messages %}
                >> {{message}}
            {% endfor %}

        </div>

        
        {%if form%}
            {% for field in form %}

                {% if field.errors %}

                    <div class="errors">
                        in   : {{ field.html_name }} <br>
                        
                        error: <span id = "err">{{ field.errors }}</span>
                       
                        {% if field.help_text %}
                            <span>hint : </span>{{ field.help_text }}
                        {%endif%}
                    </div>

                {%endif%}
                

            {%endfor%}
        {%endif%}

    </div>        
{%endif%}

    <div class="container">

        <div class="sign_up">
            <h2>Sign Up</h2>

            <form action="" method="POST">
                {% csrf_token %}
            <div class="fields">

                <input type="text" name = "kuet_id" autocomplete="off" required>
                <label>
                    <span>ID</span>
                </label>

            </div>
            
            <div class="fields">

                <input type="email" name="email" autocomplete="off" required>
                <label>
                    <span>Email</span>
                </label>

            </div>

            <div class="fields">

                <input type="text" name="first_name" autocomplete="off" required>
                <label>
                    <span>first Name</span>
                </label>

            </div>

            <div class="fields">

                <input type="text" name="last_name" autocomplete="off" required>
                <label>
                    <span>last Name</span>
                </label>

            </div>

            <div class="fields">

                <input type="text" name="username" autocomplete="off" required>
                <label>
                    <span>Username</span>
                </label>

            </div>

            <div class="fields">

                <input type="password" name="password1" required>
                <label>
                    <span>password</span>
                </label>

            </div>

            <div class="fields">

                <input type="password" name="password2" required>
                <label>
                    <span>Confirm Password</span>
                </label>
                
            </div>

                <button class="reg" type="submit"> Sign Up </button>
            </form>
            
        </div>
        
        <div class="sign_in">

            <label>
                <h3>Already an user?</h3>
            </label>
            
            <label>
                <p>Sign in Instead</p>
            </label>
              
            <a href="{% url "sign_in" %}"> 
                <input class="btn_sign_in" type="button" value="Sign in">
            </a>
            
        </div>

    </div>

{% endblock body %}