*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body
{
    width: 100%; 
    height: 100vh; 
}

input, button
{
    outline: none; 
    border: none;
    background:none;
}

header
{
    overflow: hidden;
    width: 100%; 
    height: 13%; 
    display: flex;
    flex-wrap: wrap;
    padding: 5px 5px; 
    justify-content: space-between;
    background: -webkit-linear-gradient(left, #142436, #05343a);

}

header .logo
{
    width: 110px; 
    height: 115px; 
}

nav
{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav label
{
    font-size: 80px;
    font-weight: 500;
    color: rgb(52, 80, 82);
    font-family: 'Overpass', sans-serif;
}


#logout
{

    width: 85px;
    height: 35px;
    border-radius: 15px;
    border: 1.5px solid red;
    background: transparent;
}

#logout a
{
    color: cyan;
}

#logout:hover
{
    background: red;
    transition: all 0.2s ease 0s;
}

.mess_list
{
    position: absolute; 
    bottom: 10px; 
    right: 0; 
    border-radius: 15px;
    width: 320px;
    display: block; 
    margin: 10px;
    background: rgba(255, 255, 255, 0.288);
}

.mess_list .msg
{
    padding: 5px; 
    margin: 5px; 
    color: rgba(231, 152, 4, 0.856);
    border-radius: 15px;
    background: rgba(102, 36, 29, 0.219);
}

.mess_list .errors
{
    color: rgba(0, 0, 0, 0.925);
    background: rgba(238, 11, 11, 0.233);
    font-size: 20px;
    font-weight: 400;
    padding: 5px; 
    margin: 5px; 
    border-radius: 15px;
}

.mess_list .errors #err
{
    font-weight: 500;
    color: red;
}

.mess_list .errors span
{
    font-weight: 500;
    color: springgreen;
}

.mess_list .msg:hover, 
.mess_list .errors:hover
{
    padding-left: 10px;
}

nav a
{
    text-decoration: none;
    font-size: 18px;
    font-weight: 300; 
}

.container
{
    width: 100%;
    height: 87%; 
    display: flex;
    background: -webkit-linear-gradient(left, #083b68, #0c1214)
}

.container form
{
    width: 50%; 
    height: 60%; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    background: rgba(30, 162, 214, 0.15);
    margin: auto; 
}

.container form label
{
    position: relative;
    width: 70%;
    height: 40px;
}

.container form span
{
    position: absolute;
    left:0; 
    width: 100%; 
    height: 100%;
    bottom: 25px;
    pointer-events: none;
    font-size: 22px;
    color:rgba(100, 209, 191, 0.507);
}

.container form input
{
    width: 100%;
    height: 100%;
    border-bottom: 1.5px solid turquoise;
    font-size: 25px;
    color:rgba(100, 209, 191, 0.507);

}

.container form input:focus
{
    color: greenyellow;
    border-bottom: 1.7px solid rgb(218, 215, 55);
    transition: all 0.3s ease 0s;

}

.container form button
{
    width: 180px; 
    height: 60px; 
    font-size: 20px;
    font-weight: 300;
    border: 1.7px solid springgreen;
    border-radius: 30px;
    color: springgreen;
}

.container form button:hover
{
    color: black;
    background:springgreen;
    transition: all 0.4s ease 0s;
}
