*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body
{
    width: 100%; 
    height: 100vh; 
}

header
{
    overflow: hidden;
    width: 100%; 
    height: 13%; 
    display: flex;
    flex-wrap: wrap;
    padding: 5px 5px; 
    justify-content: space-between;
    background: -webkit-linear-gradient(left, #142436, #05343a);

}

header .logo
{
    width: 110px; 
    height: 115px; 
}

nav
{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav label
{
    font-size: 80px;
    font-weight: 500;
    color: rgb(52, 80, 82);
    font-family: 'Overpass', sans-serif;
}


#logout
{

    width: 85px;
    height: 35px;
    border-radius: 15px;
    border: 1.5px solid red;
    background: transparent;
}

#logout a
{
    color: cyan;
}

#logout:hover
{
    background: red;
    transition: all 0.2s ease 0s;
}

.mess_list
{
    position: absolute; 
    bottom: 10px; 
    right: 0; 
    border-radius: 15px;
    width: 320px;
    display: block; 
    background: rgba(255, 255, 255, 0.288);
}

.mess_list .msg
{
    padding: 5px; 
    margin: 5px; 
    color: rgba(231, 152, 4, 0.856);
    border-radius: 15px;
    background: rgba(102, 36, 29, 0.219);
}

.mess_list .errors
{
    color: rgba(0, 0, 0, 0.925);
    background: rgba(238, 11, 11, 0.233);
    font-size: 20px;
    font-weight: 400;
    padding: 5px; 
    margin: 5px; 
    border-radius: 15px;
}

.mess_list .errors #err
{
    font-weight: 500;
    color: red;
}

.mess_list .errors span
{
    font-weight: 500;
    color: springgreen;
}

.mess_list .msg:hover, 
.mess_list .errors:hover
{
    padding-left: 10px;
}

nav a
{
    text-decoration: none;
    font-size: 18px;
    font-weight: 300; 
}

.container
{
    width: 100%;
    height: 87%; 
    display: flex;
}

.container form
{
    width: 50%; 
    height: 60%; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: skyblue;
    margin: auto; 
}