*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body
{
    width: 100%; 
    height: 100vh; 
}

header
{
    width: 100%; 
    height: 13%; 
    display: flex;
    padding: 5px 5px; 
    justify-content: space-between;
    background: -webkit-linear-gradient(left, #2ECC71, #229954);

}

#logo
{
    width: 110px; 
    height: 115px; 
}

nav
{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav label
{
    font-size: 80px;
    font-weight: 500;
    color: darkslategray;
    font-family: 'Overpass', sans-serif;
}


#logout
{
    position: -webkit-sticky;
    position: sticky;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid red;
    background: transparent;
}

#logout:hover
{
    color: white;
    background: red;
    transition: all 0.2s ease 0s;
}

nav a
{

    text-decoration: none;
    font-size: 20px;
    font-weight: 400; 
}

.infobody
{
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    background: -webkit-linear-gradient(left, #1A237E, #0D47A1)
}

