*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body
{
    width: 100%; 
    height: 100vh; 
}

header
{
    overflow: hidden;
    width: 100%; 
    height: 13%; 
    display: flex;
    flex-wrap: wrap;
    padding: 5px 5px; 
    justify-content: space-between;
    background: -webkit-linear-gradient(left, #142436, #05343a);

}

header .logo
{
    width: 110px; 
    height: 115px; 
}

nav
{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav label
{
    font-size: 80px;
    font-weight: 500;
    color: rgb(52, 80, 82);
    font-family: 'Overpass', sans-serif;
}


#logout
{

    width: 85px;
    height: 35px;
    border-radius: 15px;
    border: 1.5px solid red;
    background: transparent;
}

#logout a
{
    color: cyan;
}

#logout:hover
{
    background: red;
    transition: all 0.2s ease 0s;
}

.mess_list
{
    position: absolute; 
    bottom: 10px; 
    right: 0; 
    border-radius: 15px;
    width: 320px;
    display: block; 
    background: rgba(255, 255, 255, 0.288);
}

.mess_list .msg
{
    padding: 5px; 
    margin: 5px; 
    color: rgba(231, 152, 4, 0.856);
    border-radius: 15px;
    background: rgba(102, 36, 29, 0.219);
}

.mess_list .errors
{
    color: rgba(0, 0, 0, 0.925);
    background: rgba(238, 11, 11, 0.233);
    font-size: 20px;
    font-weight: 400;
    padding: 5px; 
    margin: 5px; 
    border-radius: 15px;
}

.mess_list .errors #err
{
    font-weight: 500;
    color: red;
}

.mess_list .errors span
{
    font-weight: 500;
    color: springgreen;
}

.mess_list .msg:hover, 
.mess_list .errors:hover
{
    padding-left: 10px;
}

nav a
{
    text-decoration: none;
    font-size: 18px;
    font-weight: 300; 
}

.infobody
{
    width: 20%; 
    height: 87%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    background: -webkit-linear-gradient(top,#4f90ad, black)
}

.infobody h3
{
    font-size: 30px;
    font-weight: 400;
    color: #142436;
}

.infobody h3::first-letter
{
    font-size: 40px;
}

.infobody hr
{
    width: 100%;
    border: 1.2px dashed rgb(48, 15, 15); 
}

.infobody .img_holder
{
    width: 100%; 
    height: 40%; 
    display: flex;
    margin-bottom: 30px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.281);
}

.img_holder .profile_img
{
    width: 80%; 
    height: 90%;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
    object-fit: cover;
}

.img_holder a
{
    position: absolute;
    text-decoration: none;
    margin-left: 10px;  
    bottom: 10px;
    color: sandybrown; 
}

.img_holder a:hover
{
    color: springgreen;
}


.infobody label
{
    font-size: 22px;
    font-weight: 300;
    font-family: 'Piazzolla', serif;
    color: antiquewhite;
}

.infobody label span
{
    font-family: 'Overpass', sans-serif;
    color: rgb(25, 194, 171);

}

@media (max-width:1400px)
{
    body
    {
        width: 1400px;
        background: aqua;
    }

    .infobody
    {
        width: 350px;
        /* height: 1080px; */
    }
}