{% extends "profile_app/base.html" %}
{% load static %}


{% block linkcss %}
    <link rel="stylesheet" href="{% static "profile_app/change_password.css" %}">
{% endblock linkcss %}


{% block body %}

    {% if form or messages %}

        <div class="mess_list">
            {% for message in messages %}
                <div class="msg">

                
                    >> {{message}}
                
                </div>
            {% endfor %}

            
            {%if form%}
                {% for field in form %}

                    {% if field.errors %}

                        <div class="errors">
                            in   : {{ field.html_name }} <br>
                            
                            error: <span id = "err">{{ field.errors }}</span>
                        
                            {% if field.help_text %}
                                <span>hint : </span>{{ field.help_text }}
                            {%endif%}
                        </div>

                    {%endif%}
                    

                {%endfor%}
            {%endif%}

        </div>  

    {% endif %}

    
    <div class="container">
        <form method="POST">

            {% csrf_token %}

            <label for="old_password"><span>Old Password</span>
            <input type="password" name="old_password" required></label>

            <label for="password1"><span>New Password</span>
            <input type="password" name="new_password1" required></label>

            <label for="password2"><span>Confirm Password</span>
            <input type="password" name="new_password2" required></label>

            <button type="submit">Change Password</button>
            
        </form>
    </div>

{% endblock body %}