{% extends "profile_app/base.html" %}
{% load static %}


{% block linkcss %}
    <link rel="stylesheet" href="{% static "profile_app/change_password.css" %}">
{% endblock linkcss %}


{% block body %}
    
    <div class="container">
        <form method="POST">

            {% csrf_token %}

            <label for="old_password"><span>Old Password</span>
            <input type="password" name="old_password" required></label>

            <label for="password1"><span>New Password</span>
            <input type="password" name="new_password1" required></label>

            <label for="password2"><span>Confirm Password</span>
            <input type="password" name="new_password2" required></label>

            <button type="submit">change_password</button>
            
        </form>
    </div>

{% endblock body %}