{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static "profile_app/profile.css" %}">
    <title>Profile</title>
</head>
<body>
    <header>
        <img id="logo" src="{% static "profile_app/logo.png" %}" alt="kuet logo">
        <nav>
            <label>
                Mechatronics Engineering
            </label>  

            <button id="logout">
            <a href="{% url "log_out" %}">Log out</a>
            </button>  
            
        </nav>
    </header>
    <div class="infobody">
        <h3> what the hell </h3>
        <label> <span> Name: </span>{{user.first_name}} {{user.last_name}}</label>
        <label> <span> Email: </span>{{user.email}}</label>
    </div>
</body>
</html>